<?php

$db = new PDO('mysql:host=localhost;dbname=...', '...', '...');

$bankinfo = array(
	'bank' => 'Name of my Bank',
	'bankurl' => 'https://launix.de/geld',
	'unit' => 'My$'
);

$moneyPrintPassword = 'with this password I can create money';

