<?php

/*

SQL Schema:
CREATE TABLE `tokens` ( `pubkey` VARCHAR(50) NOT NULL , `amount` BIGINT NOT NULL , PRIMARY KEY (`pubkey`)) ENGINE = InnoDB;

*/


$db = new PDO('mysql:host=localhost;dbname=...', '...', '...');

$bankinfo = array(
	'bank' => 'Name of my Bank',
	'bankurl' => 'https://launix.de/geld',
	'unit' => 'My$'
);

$moneyPrintPassword = 'with this password I can create money';

