<!doctype html>
<html>
<head>
<title>Papier-Kryptogeld</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/qrcode-generator/qrcode.js"></script>
<script type="text/javascript" src="node_modules/qrcode-generator/qrcode_UTF8.js"></script>
<script type="text/javascript" src="node_modules/angular-qrcode/angular-qrcode.js"></script>
<script type="text/javascript" src="js/instascan.min.js"></script>
<script type="text/javascript" src="js/elliptic.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/tokens.js"></script>
<script type="text/javascript" src="js/scan.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body ng-app="app" ng-controller="Main">
	<div id="scan">
		<h2>Scannen Sie Geldscheine</h2>
		<video id="preview"></video>
	</div>
	<div id="scan2">
		<h2>Gescanntes Ergebnis</h2>
		<qrcode data="{{qrtext}}" version="4" size="{{vh()}}"></qrcode>
		<input ng-model="qrtext">
		<bill ng-if="qrbill" ng-model="qrbill" hide-priv="opts.nopriv"></bill>
		<div>
			<button ng-if="qrbill" ng-click="addToPocket(qrbill)" ng-disabled="has(qrbill.pub)">In die Geldbörse aufnehmen</button>
			<button ng-if="qrbill && qrbill.priv && qrbill.amount > 0" ng-click="fuse(qrbill)">entwerten und verschmelzen</button>
			<button ng-if="numSelected()" ng-click="offerPayment()">Bezahlung anbieten</button>
			<button ng-if="qrbill && qrbill.amount > 0 && qrtext == 'pub:' + qrbill.pub && qrbill.priv" ng-click="offer(qrbill)">Bezahlung erlauben</button>
			<button ng-if="qrbill && qrbill.amount > 0 && qrtext == 'priv:' + qrbill.priv && has(qrbill.pub)" ng-click="remove(qrbill.pub)">Betrag aus Geldbörse entfernen</button>
		</div>
	</div>
	<div id="pocket">
		<h2>Meine Geldbörse</h2>
		<div>
			Gesamt-Besitz: {{sum() | money}}
		</div>
		<div class="noprint">
			Gesamt ausgewählt: {{sum(true) | money}}
		</div>
		<div class="noprint">
			<input type="checkbox" ng-model="opts.nopriv" id="nopriv"><label for="nopriv">Private Schlüssel verstecken</label>
		</div>
		<bill ng-repeat="bill in pocket" ng-model="bill" hide-priv="opts.nopriv"></bill>
		<button class="noprint" ng-if="numSelected()" ng-click="removeSelected()">Ausgewählte entfernen</button>
		<button class="noprint" ng-if="numSelected()" ng-click="slice()">Ausgewählte Scheine anders stückeln</button>
		<hr class="noprint"/>
		<button class="noprint" ng-click="print()">Geld ausdrucken</button>
		<hr class="noprint"/>
		<button class="noprint" ng-click="refreshAll()">aktualisieren</button>
		<button class="noprint" ng-click="removeInvalid()">ungültige Scheine entfernen</button>
		<button class="noprint" ng-click="removePublics()">Scheine ohne Zugriff entfernen</button>
		<hr class="noprint"/>
		<button class="noprint" ng-click="create()">Schein erzeugen</button>
	</div>
</body>
</html>
