<!doctype html>
<html>
<head>
<title>Papier-Kryptogeld</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/qrcode-generator/qrcode.js"></script>
<script type="text/javascript" src="node_modules/qrcode-generator/qrcode_UTF8.js"></script>
<script type="text/javascript" src="node_modules/angular-qrcode/angular-qrcode.js"></script>
<script type="text/javascript" src="js/instascan.min.js"></script>
<script type="text/javascript" src="js/elliptic.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/tokens.js"></script>
<script type="text/javascript" src="js/scan.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body ng-app="app" ng-controller="Main">
	<div id="scan">
		<h2>Scannen Sie Geldscheine</h2>
		<video id="preview"></video>
	</div>
	<div id="scan2">
		<h2>Gescanntes Ergebnis</h2>
		<qrcode data="{{qrtext}}" size="{{vh()}}"></qrcode>
		<input ng-model="qrtext">
	</div>
	<div id="pocket">
		<h2>Meine Geldbörse</h2>
		<div class="noprint">
			<input type="checkbox" ng-model="opts.nopriv" id="nopriv"><label for="nopriv">Private Schlüssel verstecken</label>
		</div>
		<bill ng-repeat="bill in pocket" ng-model="bill" hide-priv="opts.nopriv"></bill>
		<button class="noprint" ng-click="print()">Geld ausdrucken</button>
	</div>
</body>
</html>
