body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

body>div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

hr { width: 100%; }

#scan {
	min-width: 5cm;
	flex-grow: 1;
}

#scan video {
	width: 100%;
}

#scan2 {
	min-width: 5cm;
	flex-grow: 1;
}

#qrdescription {
	font-size: 140%;
}

#pocket {
	flex-grow: 3;
}

.bill {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-around;
	align-items: center;

	border: 1px dashed black;
	margin-bottom: 2mm;
}

.bill.selected {
	background-color: #fee;
}

.bill .scramble {
	width: 120px;
	height: 120px;
}

.bill .trenner {
	margin-left: 10px;
	margin-right: 10px;
	border-right: 3px dashed rgba(0,0,0,0.2);
	position: relative;
}
.bill .trenner span {
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	display: block;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 2px;
	margin-top: -1px;
	line-height: 0px;
	text-align: center;
}

.bill .main {
	flex-grow: 1;
	padding: 15px;
}

.bill .wert {
	font-size: 120%;
	font-weight: bold;
}

.bill .invalid {
	font-weight: bold;
	color: red;
	text-decoration: line-through;
}

.bill qrcode {
	width: 3cm;
	height: 3cm;
}

.bill qrcode canvas {
	width: 100%;
	height: 100%;
}

@media print {
	#scan, #scan2, .noprint {
		display: none;
	}
}
